@model ZipLocation
@using ZipMap.Model;

@{
    ViewData["Title"] = "Zip";
}

<div class="container">
    <br />
    <form asp-controller="Home" asp-action="Map1" method="get"> 
        <button type="submit">Map 1</button> Show map
    </form>
</div>

<div class="container">
    <br />
    <form asp-controller="Home" asp-action="Map2" method="get">
        <button type="submit">Map 2</button> Show pin on the map
    </form>
</div>

<div class="container">
    <br />
    <form asp-controller="Home" asp-action="Map3" method="get"> 
        <button type="submit">Map 3</button> CLick to place pins on map
    </form>
</div>

<div class="container">
    <br />
    <form asp-controller="Home" asp-action="Map4" method="get">
        Zip Code:  <input asp-for="ZipCode" /> <br />
        <button type="submit">Map 4</button> Show pin on map based on zip code
    </form>
</div>

<div class="container">
    <br />
    <form asp-controller="Home" asp-action="Map5" method="get">
        <button type="submit">Map 5</button> Show multiple pins on same map
    </form>
</div>

