@model ZipLocation
@using ZipMap.Model;

@{
    ViewData["Title"] = "Zip";
}

<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(39.997216699934654, -83.0424830318043),
            zoom: 5,
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5bDAqZWnnoAdLoe6j8LvLDlnVlT0ndUU&callback=myMap"></script>

From: <a href="https://www.w3schools.com/graphics/google_maps_intro.asp" target="_blank">https://www.w3schools.com/graphics/google_maps_intro.asp</a>




