@model ZipLocation
@using ZipMap.Model;

@{
    ViewData["Title"] = "Zip";
}

<div class="container">
    <br />
    <form asp-controller="Home" asp-action="Map1" method="get"> 
        <button type="submit">Map 1</button>
    </form>
</div>

<div class="container">
    <br />
    <form asp-controller="Home" asp-action="Map2" method="get">
        <button type="submit">Map 2</button>
    </form>
</div>

<div class="container">
    <br />
    <form asp-controller="Home" asp-action="Map3" method="get"> 
        <button type="submit">Map 3</button>
    </form>
</div>

<div class="container">
    <br />
    <form asp-controller="Home" asp-action="Map4" method="get">
        Zip Code:  <input asp-for="ZipCode" /> <br />
        <button type="submit">Map 4</button>
    </form>
</div>

